name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-backend:
    name: Backend Build
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./Backend
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: Backend/package-lock.json
        
    - name: Install Dependencies
      run: npm install
      
    - name: Build
      run: npm run build

  build-frontend:
    name: Frontend Build & Lint
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./Frontend
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: Frontend/package-lock.json
        
    - name: Install Dependencies
      run: npm install
      
    - name: Lint
      run: npm run lint
      
    - name: Build
      run: npm run build
